<template>
  <div class="container">
    <h1>Наши преимущества</h1>


    <div class="advContent">

      <div v-for="(advantage, index) in advantages" :key="advantage.id">
        <div :class="index%2===1?'advBlockLeft':'advBlock'">
          <div class="advTextBlock">
            <p class="advName">{{advantage.title}}</p>
            <p class="advantagesInfo" v-html="advantage.description"></p>
          </div>
          <div class="advPhoto">
            <img :src="'/'+advantage.image" alt="">

          </div>
        </div>
      </div>


      <div class="advDivider"></div>
    </div>




  </div>
</template>

<script>
  import axios from "axios";

  export default {
      name: "save",

      data(){
        return {
            advantages: []
        }
      },

      mounted() {
          axios.get('/api/advantages').then(resp => {
              this.advantages = resp.data.advantages;
          })
      }
  }
</script>

<style scoped lang="sass">

  h1
    padding: 30px 0 0 0

  .advDivider
    width: 100%
    height: 2px
    background-color: #e8e8e8
  @media (max-width: 768px)
    .advBlock, .advBlockLeft
      margin: 0 !important
    .advPhoto
      display: none !important
    .advBlockLeft
      flex-direction: row !important
    .advTextBlock
      width: 100% !important
    .advDivider
      margin: 10px !important
</style>
