<template>
  <div class="contactsWrap" style="display: flex; flex-direction: column; align-items: center;">
    <div class="mobBurgerWrap" @click="showMob = !showMob" onclick="document.getElementById('fixedWrapper').style.left = '0px'">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <form-modal/>
    <div class="fixedWrapper" :class="{showMob}" id="fixedWrapper" :style="screenWidth<=1023?`width:${mobMenuWidth}px`:''">
      <div style="font-size: 50px; cursor: pointer;" class="preWrap"><nuxt-link to="/"><img class="mainLogo" alt="logo" v-if="categories && categories.main_images" :src="'/'+categories.main_images.logo"> </nuxt-link></div>

      <div class="come" style="margin-top: 0 !important;">
        <p>Приезжайте к нам!</p>
      </div>

      <div class="address">
        <p v-for="(address, index) in contacts.address" :key="index">{{`${address.value}`}}</p>
      </div>

      <div class="come">
        <p>Позвоните нам!</p>
      </div>

      <div class="contacts leftSideItem" v-if = "contacts.phone">
        <a v-for="phone of contacts.phone" :href="`tel:${phone.value}`"><p>{{phone.value}}</p></a>
      </div>

      <div class="courierButton leftSideItem" @click="$modal.show('demo-login')">
          <p class="deal">-10%</p>
          <p>Запишитесь на ремонт</p>
      </div>

      <div class="come">
        <p>Напишите нам!</p>
      </div>

      <div class="social leftSideItem" v-if = "contacts.social">
        <a v-for="social of contacts.social" :class="`hover${social.name}`" :href="social.value" target="_blank"><font-awesome-icon size="3x" :icon="['fab', social.name]" /></a>
      </div>
      <div class="mailGSM">
        <a href="mailto:gsmroom@gmail.com">gsmroom@gmail.com</a>
      </div>
    </div>
    <div class="fixedWrapperShadow" ref="shadow" :class="{showMob}" @touchstart.prevent="showMob = false" ></div>
  </div>
</template>

<script>
    import formModal from "../formModal/formModal";
    import axios from "axios";

    export default {
      name: "ContactSidebar",
      components:{formModal},

      props: {
          categories: {
              type: Object,
              default: {}
          }
      },

      data(){
        return {
          contacts: [],
          showMob: false,
          mobMenuWidth: 0,
          screenWidth: 0,
          closeTimer: null
        }
      },


      watch:{
        showMob(val){
          this.mobMenuWidth = val?300:0;
        }
      },

      created() {
        axios.get('/api/contacts').then(resp => {
          this.contacts = resp.data;
        });
      },

      mounted() {
          window.addEventListener('load', () => {
              let movingElement = document.getElementById("fixedWrapper");
              let startX = 0;
              let dist = 0;

              movingElement.addEventListener("touchstart", (e) => {
                  console.log(movingElement.offsetLeft);
                  let touchObj = e.changedTouches[0];
                  startX = parseInt(touchObj.clientX);
                  //e.preventDefault();
              }, true);

              movingElement.addEventListener("touchmove", (e) => {
                  if(this.closeTimer) return;
                  let touchObj = e.changedTouches[0];
                  let dist = parseInt(touchObj.clientX) - startX;
                  // e.preventDefault();
                  if(dist<=0)
                    movingElement.style.left = dist + "px";
              }, true);

              movingElement.addEventListener("touchend", (e) => {
                  if(this.closeTimer) return;
                  let touchObj = e.changedTouches[0];
                  let left = movingElement.style.left.slice(0, movingElement.style.left.length - 2);
                  if(e.target.getAttribute('src')){
                      this.showMob=false;
                  }
                  if(left>-150){
                      movingElement.style.left= 0 + 'px'
                  }
                  else {
                      this.showMob = false;
                  }
                  console.log(touchObj.clientX);
                  // e.preventDefault();
              }, false);
          }, false);



          function startTouch(e) {
              if (showMob) {
                  this.event.preventDefault();
                  console.log("123")
              }
          }

      },

      destroy(){
          this.$refs.shadow.removeEventListener('touchstart', this.touchstart);
      },

      methods: {
        logoClick(){
            if(this.$route.path === '/'){
                this.showMob=false;
            }
        },
        touchstart(e){
          if(!this.showMob) return
          e = e || window.event;
          let pageX = e.pageX;

          let touchmove = e => {
            e = e || window.event;
            let iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
            this.mobMenuWidth = iOS?!this.mobMenuWidth - (e.pageX - pageX):this.mobMenuWidth + (e.pageX - pageX);
            pageX = e.pageX;
          }
          let touchend = e => {
              console.log(e.target);
            e = e || window.event;
            document.removeEventListener('touchmove', touchmove);
            document.removeEventListener('touchend', touchend);
            if(this.mobMenuWidth > 250){
              this.mobMenuWidth = 300;
              return
            }
            this.showMob = false;
          }
          document.addEventListener('touchmove', touchmove, true);
          document.addEventListener('touchend', touchend, false);
        }
      }
    }
</script>

<style scoped lang="sass">
  $hoverColors: (facebook: #4267B2,  instagram: #F44C4E, viber: #7957E7, telegram: #279EDA)

  @each $name, $color in $hoverColors
    .hover#{$name}:hover
      color: $color

  .mobBurgerWrap
    display: none
    position: fixed
    top: 5px
    left: 5px
    div
      width: 35px
      height: 5px
      background-color: #0f74a8
      margin: 6px 0



  @media (min-width: 1440px)
    .preWrap
      min-height: 150px
    .contacts
      min-height: 75px
    .social
      min-height: 50px
    .address
      min-height: 20px
    .mainLogo
      height: 150px
      min-height: 150px
      margin: 0 0 -30px 0
    a
      text-decoration: none
      color: $dark

    .contactsWrap
      width: 20%
      padding: 0 25px
      .fixedWrapper
        /*overflow-y: hidden*/
        display: flex
        flex-direction: column
        align-items: center
        div
          text-align: center
          overflow: hidden
          &:not(.courierButton)
            word-break: keep-all
            white-space: nowrap

    .contacts
      a
        color: $dark
        font-size: 22px
        line-height: 30px
        @include crossBrowser(transition, all .5s)
        &:hover
          color: $mainColor

    .courierButton
      cursor: pointer
      background: $mainColor
      border-radius: 5px
      height: 200px
      width: 200px
      margin-top: 40px
      padding: 20px
      @include crossBrowser(box-shadow, 0 0 8px 0 #408fce)
      //@include crossBrowser(transition, all .5s)
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      &:hover
        background: $dark
        @include crossBrowser(box-shadow, 0 0 8px 0 rgba(0,0,0,1))
      p
        color: #fff
        font-size: 25px
        line-height: 30px
        text-align: center
        width: 100%
      .deal
        font-size: 50px
        line-height: 45px
        text-align: center
    .come
      margin-top: 30px
      margin-bottom: 10px
      cursor: default
      p
        font-size: 20px
        font-weight: 700
        color: $mainColor
    .address
      cursor: default
      text-align: center
      p
        font-size: 22px
        line-height: 30px

    .social
      a
        margin: 6px
        @include crossBrowser(transition, all .5s)
    .mailGSM
      margin-top: 10px
      text-align: center
      a
        font-size: 17px
        font-weight: 600
        text-align: center
        &:hover
          color: $mainColor




  @media (min-width: 1024px) and (max-width: 1439px)
    .social
      min-height: 50px
    .address
      min-height: 20px
    .contacts
      min-height: 75px
    .preWrap
      min-height: 150px
    .mainLogo
      height: 150px
      min-height: 150px
      margin: 0 0 -30px 0
    a
      text-decoration: none
      color: $dark

    .contactsWrap
      width: 20%
      padding: 0 25px
      .fixedWrapper
        display: flex
        flex-direction: column
        align-items: center
        div
          text-align: center
          overflow: hidden
          &:not(.courierButton)
            word-break: keep-all
            white-space: nowrap


    .contacts
      a
        color: $dark
        font-size: 20px
        line-height: 25px
        @include crossBrowser(transition, all .5s)
        &:hover
          color: $mainColor

    .courierButton
      cursor: pointer
      background: $mainColor
      border-radius: 5px
      height: 180px
      width: 180px
      margin-top: 20px
      @include crossBrowser(box-shadow, 0 0 8px 0 #408fce)
      @include crossBrowser(transition, all .5s)
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      &:hover
        background: $dark
        @include crossBrowser(box-shadow, 0 0 8px 0 rgba(0,0,0,1))
      p
        color: #fff
        font-size: 23px
        line-height: 30px
        text-align: center
        width: 100%
      .deal
        font-size: 45px
        line-height: 45px
        text-align: center
    .come
      margin-top: 20px
      margin-bottom: 10px
      cursor: default
      p
        font-size: 18px
        font-weight: 700
        color: $mainColor
    .address
      cursor: default
      text-align: center
      p
        font-size: 20px
        line-height: 20px

    .social
      a
        margin: 6px
        @include crossBrowser(transition, all .5s)
    .mailGSM
      margin-top: 10px
      text-align: center
      a
        font-size: 16px
        font-weight: 600
        text-align: center
        &:hover
          color: $mainColor















  @media screen and (max-width: 1023px)


    .mainLogo
      height: 85px
      margin-top: 10px
    a
      text-decoration: none
      color: $dark

    .contactsWrap
      .fixedWrapper
        display: -webkit-box !important
        height: 100% !important
        overflow-y: scroll !important
        flex-direction: column
        align-items: center
        div
          text-align: center
          overflow: hidden
          &:not(.courierButton)
            word-break: keep-all
            white-space: nowrap

    .contacts
      a
        color: $dark
        font-size: 20px
        line-height: 25px
        @include crossBrowser(transition, all .5s)
        &:hover
          color: $mainColor

    .courierButton
      cursor: pointer
      background: $mainColor
      border-radius: 5px
      height: 180px
      width: 180px
      margin-top: 20px
      @include crossBrowser(box-shadow, 0 0 8px 0 #408fce)
      @include crossBrowser(transition, all .5s)
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      &:hover
        background: $dark
        @include crossBrowser(box-shadow, 0 0 8px 0 rgba(0,0,0,1))
      p
        color: #fff
        font-size: 23px
        line-height: 30px
        text-align: center
        width: 100%
      .deal
        font-size: 45px
        line-height: 45px
        text-align: center
    .come
      margin-top: 20px
      margin-bottom: 10px
      cursor: default
      p
        font-size: 18px
        font-weight: 700
        color: $mainColor
    .address
      cursor: default
      text-align: center
      p
        font-size: 20px
        line-height: 20px

    .social
      a
        margin: 6px
        @include crossBrowser(transition, all .5s)
    .mailGSM
      margin-top: 10px
      text-align: center
      a
        font-size: 16px
        font-weight: 600
        text-align: center
        &:hover
          color: $mainColor
    .fixedWrapper
      animation: menu .5s
      display: none
      overflow: hidden
      position: fixed
      left: 0
      z-index: 990
      transition: width .5s
      background-color: #fff
      &.showMob
        display: flex
        min-height: 100vh
        border-right: 2px solid #d8d8d8
        -webkit-box-shadow: 10px 0 50px 0 rgba(0,0,0,0.75)
        -moz-box-shadow: 10px 0 50px 0 rgba(0,0,0,0.75)
        box-shadow: 10px 0 50px 0 rgba(0,0,0,0.75)
    .mobBurgerWrap
      display: inline-block
      z-index: 999


    .fixedWrapperShadow
      display: none
      height: 100vh
      width: 100vw
      position: fixed
      top: 0
      left: 0
      z-index: 890
      background-color: #000
      opacity: 0.1
      &.showMob
        display: block

    @keyframes menu
      from
        display: flex
      to
        display: none

</style>
