<template>
  <div class="container" v-if="gadget">
    <h1>{{gadget.title}}</h1>
    <div class = infoBlock>
      <div class="imgBlock">
        <img :src="'/' + gadget.icon" data-aos="fade-right">
      </div>
      <div class="descBlock" v-html="gadget.description"></div>
    </div>
    <div class="pricesBlock" v-if="gadget">

      <table>
        <tr style="color: #000 !important;">
          <th class="tServiceName tServiceNameColor">Услуга</th>
          <th class="tServicePrice tServicePriceColor">Цена</th>
          <th class="tServiceGuarantee tServiceGuaranteeColor">Гарантия</th>
        </tr>
      </table>
      <div class="serviceBlock" v-for="service in tree_service">
        <table>
          <tr>
            <th>
              {{service.service_name}}
            </th>
          </tr>
        </table>
        <table v-if="service.children.length">
          <tr v-for="child in service.children">
            <td class="tServiceName">
              {{child.service_name}}</td>
            <td class="tServicePrice">
              <p style="line-height: 15px">
                <span v-if="child.old_price" :class="{old: child.old_price}">
                  <span v-if="child.is_from">от</span>
                  {{child.old_price}} грн
                </span>

              </p>
              <p style="line-height: 15px">
                <span v-if="child.is_from">от</span>
                {{child.price}} грн
              </p>


            </td>
            <td class="tServiceGuarantee">{{child.time}}</td>
<!--            <span v-if="service.old_price">{{service.old_price}}</span>-->
          </tr>
        </table>
      </div>
      <div class="article" v-html="gadget.article"></div>
    </div>
  </div>
</template>

<script>
    import axios from "axios";
    import malfunctions from '../../components/malfunctions/malfunctions'

    export default {
        name: "_id",

        data(){
          return {
            gadget: {}
          }
        },

        components: {malfunctions},

        created() {
          axios.get(`/api/category/gadget/${this.$route.params.modelId}`).then(resp => {
            this.gadget = resp.data.gadget[0];
          });
        },

        computed: {
          tree_service() {
            return this.gadget.tree_service;
          },
          category_id () {
            return this.gadget.category_id
          }
        }
    }
</script>


<style scoped lang="sass">


  h1
    padding: 30px 0 0 0

  .infoBlock
    display: flex
    flex-direction: row
    width: 80%
    border-bottom: 1px solid #ddd
    margin-bottom: 5px

  .imgBlock
    align-self: center
    margin: 0 0 0 0
    display: flex
    flex-direction: column
    width: 50%
    padding: 20px 0
    img
      width: 100%

  .descBlock
    margin: 30px auto
    width: 60%
    padding-left: 10px
    font-size: 18px
    line-height: 20px
    text-align: justify
    display: flex
    flex-direction: column
    justify-content: center
    p
      margin-bottom: 5px !important

  .pricesBlock
    width: 80%
    h3
      color: #408fce
      font-size: 25px
      margin: 15px auto
    table
      width: 100%
      text-align: left
      font-size: 19px
      line-height: 25px
      margin: 0 auto -1px
      border-collapse: collapse
      th, td
        padding: 5px
        border-top: 1px solid #ddd
        border-left: 1px solid #ddd
        border-right: 1px solid #ddd
        border-bottom: 1px solid #ddd
  .serviceBlock
    table
      border-collapse: collapse
      th
        background-color: #f3f3f3
        font-weight: 500
        &:hover
          color: #000 !important
  tr
    &:hover
      background-color: $mainColor
      color: #fff
      cursor: default
      border-color: $mainColor
      td
        border-color: $mainColor
      .old
        text-decoration-color: #fff
        color: #fff
  .old
    text-decoration: line-through
    text-decoration-color: #f00000
    color: #bbb
</style>
