<template>
    <div class="container">
        <div class="siteDesc">
          <h1>Ремонт {{category.name}}</h1>
          <div class="siteDescContent">
            <div class="siteDescTextWrap" v-html="category.description">
            </div>
<!--            <img src="../../../resources/images/devicePhone.png" alt="">-->
            <img v-if="models[0] && models[0].logo" :src="models[0].logo" alt="" data-aos="fade-left" class="modelImageSize">
          </div>
        </div>
        <div class="deviceList">
          <div v-for="model in models" :key="model.id"  class="modelContainer" @click="toModel(model.slug)">
              <div class="modelText">
                  <div class="modelTitle">
                      <nuxt-link :to="`/${id}/${model.slug}`">{{model.model}}</nuxt-link>
                  </div>
<!--                  <div class="modelDescr" v-html="model.description"></div>-->
              </div>
              <div class="modelImg"><img :src="model.logo"></div>
              <div class="dividerModel"></div>
          </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "index",
        data() {
            return {
                id: null,
                models: [],
                category: {}
            }
        },
        created() {
            this.id = this.$route.params.id;
            axios.get(`/api/category/${this.id}`).then(resp => {
              this.models = resp.data.gadgets;
              if(this.models[0]){
                axios.get(`/api/categories`).then(resp => this.category = resp.data.categories.filter(item => item.id==this.models[0].category_id)[0]);
              }
            });


        },
        methods:{
            toModel(name){
                this.$router.push(`/${this.id}/${name}`);
            }
        }
    }
</script>

<style scoped lang="sass">



  h1
    padding: 0 0 30px 0



</style>
