<template>
  <footer>
    <div class="footerWrap">
      <div class="footerDivider"></div>
      <div class="footer">
        <div class="footerMapWrap">
          <div class="footerMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d661.3899378165119!2d35.0522377!3d48.464976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe30a663cd045%3A0x3e83cda47d30d0e5!2zR3NtIFJvb20gLSDQoNC10LzQvtC90YIgaVBob25lLCBpUGFkLCBNYWNib29rLCBpTWFjINCU0L3QtdC_0YA!5e0!3m2!1sru!2sua!4v1592291336547!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <p v-for="(address, index) in contacts.address" :key="index">{{`${address.name} ${address.value}`}}</p>
        </div>


        <div class="footerLinks" v-if="devices.length">
          <p v-for="item of devices"><nuxt-link :to="`/${item.slug}`">{{item.name}}</nuxt-link></p>
          <p><nuxt-link to="/other">Другие бренды</nuxt-link></p>
        </div>


        <div class="footerContacts" v-if = "contacts.phone && contacts.social">
          <p>Наши контакты:</p>
          <a v-for="phone of contacts.phone" :href="`tel:${phone.value}`">{{phone.value}}</a>
          <div class="socialWrap">
            <a v-for="social of contacts.social" :href="social.value" :class="`hover${social.name}`" target="_blank"><font-awesome-icon size="3x" :icon="['fab', social.name]" /></a>
          </div>
        </div>


        <div class="footerSchedule">
          <p>График работы:</p>
          <p  v-for="shadule in shadules" :key="shadule.id"><span class="footerDay">{{shadule.short_day}}:</span> {{shadule.work}}</p>
        </div>


      </div>
    </div>
  </footer>
</template>

<script>
  import axios from "axios";

  export default {
    data(){
      return{
        devices: [],
        contacts: [],
        shadules: []
      }
    },
    created() {
      axios.get('/api/categories').then(resp => {
        this.devices = resp.data.categories
      });
      axios.get('/api/contacts').then(resp => {
        this.contacts = resp.data;
        console.log(this.contacts);
      });
      axios.get('/api/schedules').then(resp => {
          this.shadules = resp.data.schedules;
          console.log('shadules', this.shadules);
      })
    }
  }

</script>

<style scoped lang="sass">
  footer
    margin-top: 20px
  $hoverColors: (facebook: #4267B2,  instagram: #F44C4E, viber: #7957E7, telegram: #279EDA)

  @each $name, $color in $hoverColors
    .hover#{$name}:hover
      color: $color

</style>
