<template>
    <div class="accordion">
      <div class="header" @click="tardetContent">
        <slot name="header"></slot>
      </div>
        <div class="contentAccordion" :class="{show:showContant}">
          <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "accordion",

        data(){
            return {
                showContant: false
            }
        },

        methods: {
            tardetContent(){
                this.showContant = !this.showContant;
            }
        }
    }
</script>

<style scoped>
  .contentAccordion{
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
  }
  .show{
    max-height: 1000px!important;
  }
</style>
