<template>
  <div class="container" >
    <div class="pricesBlock">
      <h1>{{service.name}}</h1>

      <p class="descMan">
        В таблице ниже вы можете ознакомиться с прйс-листом текущей неисправности для вашего девайса
      </p>
      <table>
        <tr>
          <th class="tServiceName tServiceNameColor">Модель девайса</th>
          <th class="tServicePrice tServicePriceColor">Цена</th>
          <th class="tServiceGuarantee tServiceGuaranteeColor">Гарантия</th>
        </tr>
        <tr v-for="service in gadgets" :key="service.id">
          <td class="tServiceName">{{service.gadget.model}}</td>
          <td class="tServicePrice">
            <p>
              <span v-if="service.old_price" :class="{old: service.old_price}">
                <span v-if="service.is_from">от</span>
                {{service.old_price}} грн
              </span>
            </p>
            <p>
              <span v-if="service.price">
                <span v-if="service.is_from">от</span>
                {{service.price}} грн
              </span>
            </p>
          </td>
          <td class="tServiceGuarantee">{{service.time}}</td>
        </tr>
      </table>
<!--      <p class="descMan">-->
<!--        Также мы даём гарантию на срок от 1 до 3 месяцев на выполненную работу.-->
<!--      </p>-->
      <div class="accordionHeader">Как починить?</div>
      <ul class="accordionUL">
        <li class="accordionLI">
          <accordion>
            <template v-slot:header>
              Позвонив нам
            </template>
            <div v-if = "contacts.phone">
              <a v-for="phone of contacts.phone" :href="`tel:${phone.value}`" ><p style="padding: 10px 0;">{{phone.value}}</p></a>
            </div>
          </accordion>
        </li>
        <li class="accordionLI">
          <accordion>
            <template v-slot:header>
              Написав нам
            </template>
            <div v-if = "contacts.social">
              <a v-for="social of contacts.social" :class="`hover${social.name}`" :href="social.value" style="padding-left: 30px;" target="_blank"><font-awesome-icon size="3x" :icon="['fab', social.name]" /></a>
            </div>
          </accordion>
        </li>
        <li class="accordionLI">
          <accordion>
            <template v-slot:header>
              Приехать к нам
            </template>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d661.3899378165119!2d35.0522377!3d48.464976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe30a663cd045%3A0x3e83cda47d30d0e5!2zR3NtIFJvb20gLSDQoNC10LzQvtC90YIgaVBob25lLCBpUGFkLCBNYWNib29rLCBpTWFjINCU0L3QtdC_0YA!5e0!3m2!1sru!2sua!4v1592291336547!5m2!1sru!2sua" width="100%" height="100%"  style="border:0;" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </accordion>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
    import axios from 'axios'
    import accordion from "@/components/accordin/accordion";

    export default {

        data(){
            return {
                gadgets: [],
                service: {},
                contacts: []
            }
        },
        components: {accordion},
        mounted() {
            axios.get('/api/module/1/'+this.$route.params.id).then(resp => {
                this.service =resp.data.service;
                this.gadgets =resp.data.gadgets;
            })
        },
        created() {
            axios.get('/api/contacts').then(resp => {
                this.contacts = resp.data;
            });
        }
    }
</script>

<style scoped lang="sass">

    h1
      padding: 30px 0

    .infoBlock
      display: flex

    .imgBlock
      margin: 30px 100px

    .descBlock
      margin: 30px auto
      font-size: 18px
      line-height: 20px
      text-align: justify
      display: flex
      flex-direction: column
      justify-content: center
      p
        margin-bottom: 5px !important


    .pricesBlock
      width: 80%
      h3
        color: #408fce
        font-size: 25px
        margin: 15px auto
      table
        width: 100%
        text-align: left
        font-size: 19px
        line-height: 25px
        margin: 0 auto -1px
        border-collapse: collapse
        th, td
          padding: 5px
          border-top: 1px solid #ddd
          border-left: 1px solid #ddd
          border-right: 1px solid #ddd
          border-bottom: 1px solid #ddd
    table
      border-collapse: collapse
      th
        background-color: #f3f3f3
        font-weight: 500
        &:hover
          color: #000 !important
      tr
        &:hover
          background-color: $mainColor
          color: #fff
          cursor: default
          border-color: $mainColor
          td
            border-color: $mainColor
          .old
            text-decoration-color: #fff
            color: #fff

      .old
        text-decoration: line-through
        text-decoration-color: #f00000
        color: #bbb
</style>
