<template>
    <div class="advantagesWrapper" data-aos="fade-zoom-in">
        <h1> Наши приимущества </h1>
        <div class="advantageBlock" v-for="(advantage, i) in advantages">
            <img :src="advantage.src" v-if="i%2!==0">
            <div class="textBlock">
                <h4>{{advantage.header}}</h4>
                <p>{{advantage.text}}</p>
            </div>
            <img :src="advantage.src" v-if="i%2===0">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Advantages",

        data(){
            return {
                advantages:[
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    },
                    {
                        header: 'Lorem ipsum dolor',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sollicitudin nisi, finibus mollis ligula. Nunc id urna in magna posuere gravida. Phasellus vehicula ex in justo bibendum, a dignissim libero rutrum. Aliquam erat volutpat. Nullam viverra odio vel arcu luctus laoreet. Sed libero ipsum, suscipit at condimentum quis, sollicitudin non quam. Integer ultricies orci nisl, sed lacinia felis pulvinar id.',
                        src: '/images/iphone.jpeg'
                    }
                ]
            }
        }
    }
</script>

<style scoped lang="sass">
    .advantagesWrapper h1
        text-align: center
        margin-top: 20px
        font-size: 40px
        font-weight: 600
        color: #408fce

    img
        max-width: 40%

    .advantageBlock
        display: flex
        padding: 50px
        .textBlock
            padding: 70px
            p
                margin-top: 20px
                font-size: 22px
                line-height: 30px
            h4
                font-size: 25px
                font-weight: 600
                color: #408fce
</style>
