<template>
  <section class="container">
    <div class="mainImages">
      <div class="mainImage">
        <img v-if="images.main_head_left" :src="images.main_head_left" alt="">
      </div>
      <div class="mainImage">
        <img v-if="images.main_head_right" :src="images.main_head_right" alt="">
      </div>
    </div>

    <div class="mainText">
      <h1>Сервисный центр</h1>
      <h2>Apple в Днепре</h2>
    </div>
    <curier-modal/>

    <div class="onSale">
      <div class="onSaleSlider">
        <hooper :settings="hooperSettings" :infiniteScroll="true">
          <slide @click.native="$modal.show('demo-curier')">
            <div class="onSaleSliderSlide">
              <img src="@/assets/images/slide1.jpg" style="max-height: 100%; max-width: 100%; margin: 0 auto; width: 50%;">
              <span>Вызов курьера</span>
            </div>
          </slide>
          <slide @click.native="$router.push('/products')">
            <div class="onSaleSliderSlide">
              <img src="@/assets/images/slide2.jpg" style="max-height: 100%; max-width: 100%; margin: 0 auto; width: 50%;">
              <span>Огромный выбор аксессуаров</span>
            </div>
          </slide>
          <slide @click.native="$router.push('/slider/save')">
            <div class="onSaleSliderSlide">
              <img src="@/assets/images/slide3.jpg" style="max-height: 100%; max-width: 100%; margin: 0 auto; width: 50%;">
              <span>Наши преимущества</span>
            </div>
          </slide>
          <hooper-pagination slot="hooper-addons"></hooper-pagination>
          <hooper-navigation slot="hooper-addons"></hooper-navigation>
        </hooper>
      </div>
    </div>


    <malfunctions/>

    <h4 style="text-align: justify" class="mobileMainText" v-if="texts.first" v-html="texts.first"></h4>



    <h3>
      <nuxt-link to="/products">
        Наш магазин
      </nuxt-link>
    </h3>

    <div class="onSale" data-aos="fade-zoom-in">
      <div class="onSaleSlider">
        <hooper :settings="hooperSettings" :infiniteScroll="true">
          <slide v-for="item in products" :key="item.id">
            <div class="onSaleSliderSlide">
              <nuxt-link :to="`/product/${item.slug}`">
                <div class="onSaleSliderSlideImageWrap">
                  <img v-if="item.admin_image && item.admin_image.length" :src="item.admin_image[0]" alt="">
                </div>
                <p class="onSaleModel">{{item.name}}</p>
                <p class="onSalePrice">{{item.price}} грн</p>
              </nuxt-link>
            </div>
          </slide>
          <hooper-pagination slot="hooper-addons"></hooper-pagination>
          <hooper-navigation slot="hooper-addons"></hooper-navigation>
        </hooper>
      </div>
    </div>
    <div class="mainRepair">
<!--      <h4>Основные виды ремонта Apple</h4>-->
      <p  v-if="texts.second" v-html="texts.second">
      </p>
    </div>
    <h3>
      <nuxt-link to="/works">
        Наши работы
      </nuxt-link>
    </h3>
    <div class="onSale" data-aos="fade-zoom-in">
      <div class="onSaleSlider">
        <hooper :settings="hooperSettings" :infiniteScroll="true">
          <slide v-for="work in works" :key="work.id">
            <work :work="work"/>
          </slide>
          <hooper-pagination slot="hooper-addons"></hooper-pagination>
          <hooper-navigation slot="hooper-addons"></hooper-navigation>
        </hooper>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
import axios from "axios";
import {Hooper, Slide, Pagination as HooperPagination, Navigation as HooperNavigation} from "hooper";
import 'hooper/dist/hooper.css';
import malfunctions from '../components/malfunctions/malfunctions'
import work from '../components/work/work'
import curierModal from "~/components/curierModal/curierModal";


export default {
  data(){
    return{
      works: [],
      products:[],
      hooperSettings: {
          itemsToShow: 3,
          breakpoints: {
              0: {
                  itemsToShow: 2
              },
              768: {
                  itemsToShow: 3
              },
          }
      },
        texts: [],
        images: {}
    }
  },
  components: {
    AppLogo, Hooper, Slide, HooperPagination, HooperNavigation, malfunctions, work, curierModal
  },
  created() {
    axios.get('api/work').then(resp => {
      this.works = resp.data;
    })
      axios.get('api/products').then(resp => {
          this.$set(this, 'products', resp.data.products);
      })
      axios.get('api/articles/main').then(resp => {
          this.texts = resp.data.articles;
          this.images = resp.data.main_images;
      })
  },

  methods: {
    toAdvantages(){
      this.$router.push('/advantages');
    }
  }
}
</script>

<style lang="sass">
  .topMover
    position: absolute
    width: 100%

  .container
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    text-align: center
    width: 60%
    .mainImages
      display: flex
      width: 81%
      .mainImage
        display: flex
        height: 130px
        /*max-height: 120px*/
        overflow-y: hidden
        width: 50%
        margin: 10px .5%
        padding: 0 !important
        border-radius: 20px !important
        @include crossBrowser(border-radius, 5px)
        @include crossBrowser(box-shadow, 0 0 18px 0 rgba(0,0,0,.2))
        img
          width: 100%
          height: 100%
          border-radius: 20px
          align-self: center

  .title
    font-family: "Montserrat", sans-serif
    display: block
    font-weight: 300
    font-size: 100px
    color: #35495e
    letter-spacing: 1px

  .subtitle
    font-weight: 300
    font-size: 42px
    color: #526488
    word-spacing: 5px
    padding-bottom: 15px

  .links
    padding-top: 15px

  .hooper-indicator
    background: $dark
    width: 4px
    &:hover, &.is-active
      background-color: $mainColor
  .hooper-navigation
    button
      outline: none!important
      padding: 0
      svg
        width: 40px
        height: 40px
        &:hover
          fill: $mainColor
  .hooper-prev
    left: -40px
  .hooper-next
    right: -40px
</style>
<style scoped lang="sass">
  @media (min-width: 1440px)
    .mainText
      height: 135px
      h1
        font-size: 70px
        cursor: default
        color: #7b7b7b
        @include crossBrowser(transition, all .5s ease)
      h2
        font-size: 49px
        line-height: 30px
        font-weight: 100
        cursor: default
        @include crossBrowser(transition, all .5s ease)
      &:hover
        h1
          font-size: 73px
        h2
          font-size: 50px
    h3
      font-size: 25px
      margin-top: 0
      a
        color: #000
      &:hover
        a
          text-decoration: underline
          color: $mainColor
    h4 p
      width: 80%
      font-size: 30px
      line-height: 38px
      font-weight: 400
      margin: 30px 0
      cursor: default

    .onSale
      padding-top: 30px
      margin-bottom: 30px
      min-height: 150px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 240px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
              text-decoration: underline
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 265px
            display: flex
            align-items: center
            img
              height: 230px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .mainRepair
      width: 80%
      padding: 30px 0
      h4
        margin: 15px auto
        font-size: 30px
      p
        font-size: 17px
        text-align: justify
    .onSaleModel
      font-size: 20px
      font-weight: 300
      line-height: 25px
      min-height: 70px
      padding: 10px 20px
  @media (min-width: 1024px) and (max-width: 1439px)
    .mainText
      height: 130px
      h1
        font-size: 50px
        cursor: default
        color: #7b7b7b
        @include crossBrowser(transition, all .5s ease)
      h2
        font-size: 40px
        line-height: 30px
        font-weight: 100
        cursor: default
        @include crossBrowser(transition, all .5s ease)
      &:hover
        h1
          font-size: 52px
        h2
          font-size: 42px
    h3
      font-size: 25px
      margin-top: 0
      a
        color: #000
      &:hover
        a
          text-decoration: underline
          color: $mainColor
    h4 p
      width: 80%
      font-size: 20px
      line-height: 32px
      font-weight: 400
      margin: 30px 0
      cursor: default

    .onSale
      margin-bottom: 30px
      min-height: 120px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 190px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
              text-decoration: underline
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 235px
            display: flex
            align-items: center
            img
              height: 180px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .mainRepair
      width: 80%
      padding: 30px 0
      h4
        margin: 15px auto
        font-size: 30px
      p
        font-size: 17px
        text-align: justify
    .onSaleModel
      font-size: 20px
      font-weight: 300
      line-height: 25px
      min-height: 70px
      padding: 10px 20px
  @media (min-width: 768px) and (max-width: 1023px)
    .mainText
      height: 130px
      h1
        font-size: 50px
        cursor: default
        color: #7b7b7b
        @include crossBrowser(transition, all .5s ease)
      h2
        font-size: 40px
        line-height: 30px
        font-weight: 100
        cursor: default
        @include crossBrowser(transition, all .5s ease)
      &:hover
        h1
          font-size: 52px
        h2
          font-size: 42px
    h3
      font-size: 25px
      margin-top: 0
      a
        color: #000
      &:hover
        a
          text-decoration: underline
          color: $mainColor
    h4 p
      width: 80%
      font-size: 20px
      line-height: 32px
      font-weight: 400
      margin: 30px 0
      cursor: default

    .onSale
      margin-bottom: 30px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 190px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
              text-decoration: underline
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 235px
            display: flex
            align-items: center
            img
              height: 180px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .mainRepair
      width: 80%
      padding: 30px 0
      h4
        margin: 15px auto
        font-size: 30px
      p
        font-size: 17px
        text-align: justify
    .onSaleModel
      font-size: 20px
      font-weight: 300
      line-height: 25px
      min-height: 70px
      padding: 10px 20px
  @media (min-width: 0px) and (max-width: 767px)
    .mainText
      height: 80px
      h1
        font-size: 30px
        cursor: default
        color: #7b7b7b
        @include crossBrowser(transition, all .5s ease)
      h2
        font-size: 25px
        line-height: 30px
        font-weight: 100
        cursor: default
        @include crossBrowser(transition, all .5s ease)
      &:hover
        h1
          font-size: 32px
        h2
          font-size: 27px
    h3
      font-size: 25px
      margin-top: 0
      a
        color: #000
      &:hover
        a
          text-decoration: underline
          color: $mainColor
    h4 p
      width: 80%
      font-size: 20px
      line-height: 32px
      font-weight: 400
      margin: 30px 0
      cursor: default

    .onSale
      margin-bottom: 30px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 190px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
              text-decoration: underline
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 235px
            display: flex
            align-items: center
            img
              height: 180px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .mainRepair
      width: 80%
      padding: 30px 0
      h4
        margin: 15px auto
        font-size: 30px
      p
        font-size: 17px
        text-align: justify
    .onSaleModel
      font-size: 20px
      font-weight: 300
      line-height: 25px
      min-height: 70px
      padding: 10px 20px
</style>

