<template>
    <div class="container">
      <div class="sizeCont">
        <h1>Другие бренды</h1>
        <div class="otherDevWrap">
          <p class="serviceDesc">Несмотря на то, что сервисный центр GSM ROOM преимущественно занимается ремонтом техники Apple, к нам вы также можете обратиться за помощью при поломке устройств компаний:</p>


          <div class="tech-slideshow">
            <div class="mover-1"></div>
          </div>
          <p class="serviceDesc">Выполняем качественный ремонт телефонов данных брендов любой сложности в кратчайшие сроки, а также проводим бесплатную диагностику устройств и даем гарантию до одного года на свои услуги.</p>
          <!--        <ul>-->
          <!--          <li>Samsung</li>-->
          <!--          <li>Xiaomi</li>-->
          <!--          <li>Meizu</li>-->
          <!--          <li>Nokia</li>-->
          <!--          <li>LG</li>-->
          <!--          <li>Sony</li>-->
          <!--          <li>Huawei</li>-->
          <!--          <li>И другие</li>-->
          <!--        </ul>-->
<!--          <div class="artical" v-if="texts.first" v-html="texts.first"></div>-->
<!--          <div class="accordionHeader">Для уточнения деталей, получения консультации и записи на ремонт телефона SAMSUNG, HUAWEI и XIAOMI, а также техники APPLE обращайтесь по указанному на сайте телефону или через форму обратной связи.</div>-->
          <div class="serviceDesc">Для уточнения деталей, получения консультации и записи на ремонт телефона SAMSUNG, HUAWEI и XIAOMI, а также техники APPLE обращайтесь по указанному на сайте телефону или через форму обратной связи.</div>
<!--          <ul class="accordionUL">-->
<!--            <li class="accordionLI">-->
<!--              <accordion>-->
<!--                <template v-slot:header>-->
<!--                  Позвонив нам-->
<!--                </template>-->
<!--                <div v-if = "contacts.phone">-->
<!--                  <a v-for="phone of contacts.phone" :href="`tel:${phone.value}`" ><p style="padding: 10px 0;">{{phone.value}}</p></a>-->
<!--                </div>-->
<!--              </accordion>-->
<!--            </li>-->
<!--            <li class="accordionLI">-->
<!--              <accordion>-->
<!--                <template v-slot:header>-->
<!--                  Написав нам-->
<!--                </template>-->
<!--                <div v-if = "contacts.social">-->
<!--                  <a v-for="social of contacts.social" :class="`hover${social.name}`" :href="social.value" style="padding-left: 30px;" target="_blank"><font-awesome-icon size="3x" :icon="['fab', social.name]" /></a>-->
<!--                </div>-->
<!--              </accordion>-->
<!--            </li>-->
<!--            <li class="accordionLI">-->
<!--              <accordion>-->
<!--                <template v-slot:header>-->
<!--                  Приехать к нам-->
<!--                </template>-->
<!--                <div>-->
<!--                              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d661.3899378165119!2d35.0522377!3d48.464976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe30a663cd045%3A0x3e83cda47d30d0e5!2zR3NtIFJvb20gLSDQoNC10LzQvtC90YIgaVBob25lLCBpUGFkLCBNYWNib29rLCBpTWFjINCU0L3QtdC_0YA!5e0!3m2!1sru!2sua!4v1592291336547!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>-->

<!--                </div>-->
<!--              </accordion>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <p class="serviceDesc">Также вы можете <a href="#" @click="$modal.show('demo-curier')">вызвать курьера</a> на дом или в офис</p>-->

          <p class="serviceDesc">Примеры выполненных работ вы можете посмотреть в разделе
            <nuxt-link to="/works">
              Наши работы
            </nuxt-link>
          </p>
        </div>
      </div>
    <curier-modal/>
    </div>
</template>

<script>
    import axios from "axios";
    import accordion from "@/components/accordin/accordion";
    import curierModal from "~/components/curierModal/curierModal";

    export default {
        name: "other",
        data(){
            return {
                contacts: [],
                sliderInterval: null,
                texts: []
            }
        },
        components: {accordion, curierModal},
        created() {
            axios.get('/api/contacts').then(resp => {
                this.contacts = resp.data;
            });
            axios.get('/api/articles/other').then(resp => {
                this.texts = resp.data.articles
            })
        },
    }
</script>

<style scoped lang="sass">
    h1
      padding: 30px 0
    .serviceDesc
      font-size: 25px
      padding: 30px 0
      text-align: justify
      &:hover
        a
          text-decoration: underline
    ul
      list-style-type: none
      padding: 0 30px
      li
        text-align: left
        color: $mainColor
        font-weight: 600
        font-size: 20px
        cursor: pointer
        a
          &:hover
            text-decoration: underline
    .openAc
      padding: 0 30px
      display: none

    .tech-slideshow
      height: 200px
      max-width: 800px
      margin: 0 auto
      position: relative
      overflow: hidden
      transform: translate3d(0, 0, 0)
      &:after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 12%), -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 12%)
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 12%), -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 12%)
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 12%), linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 12%)

      > div
        width: 2526px
        background: url("../assets/images/moover.jpg")
        position: absolute
        top: 0
        left: 0
        height: 100%
        transform: translate3d(0, 0, 0)

      .mover-1
        animation: moveSlideshow 20s linear infinite

    @keyframes moveSlideshow
      100%
        transform: translateX(-66.6666%)
</style>
