<template>
    <div class="container">
        <div class="productList">
            <h1>
                Наш магазин
            </h1>
            <button @click="sort_type='price_desc'" :class="{active: sort_type==='price_desc'}">Сначала дешевые</button>
            <button @click="sort_type='price_asc'" :class="{active: sort_type==='price_asc'}">Сначала дорогие</button>
            <div class="filters">
                <div class="catFilterWrap" v-for="categorie in categories" :key="categorie.id">
                    <input class="catFilter" type="checkbox" :id="categorie.id" :name="categorie.id" v-model="categorie.checked"/>
                    <label class="catFilterLabel" :for="categorie.id">{{categorie.name}}</label>
                </div>
            </div>
            <div class="allProductsContainer">
                <nuxt-link :to="`/product/${product.slug}`" v-for="product in filtringProducts" :key="product.id" class="allProductsWrap">
                    <div class="allProductsWrapSlide">
                        <img :src="product.admin_image[0]" style="max-height: 100%; max-width: 100%; margin: 0 auto;">
                    </div>
                    <p class="productName">{{product.name}}</p>
                    <span class="allProductsWrapPrice">{{product.price}} грн</span>
                </nuxt-link>

            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "products",

        data(){
            return{
                products: [],
                categories: [],
                sort_type: '',
            }
        },

        created(){
            axios.get('api/products').then(resp => {

                let products = resp.data.products;
                for(let i = 0; i<products.length; i++){
                    this.$set(this.products, i, products[i]);
                }
                this.$set(this, 'categories', resp.data.categories);
                this.categories.forEach((item, index) => {
                    console.log(item);
                    console.log(index);
                	this.$set(this.categories[index], 'checked', true);
                });
                this.sort_type="price_desc";
                setTimeout(()=>{
                	console.log(this.filtringProducts);
                }, 7000)
            })
        },
        watch: {
            sort_type(val){
                this.products.sort(function (a, b) {
                    if (a.price > b.price) {
                        return 1;
                    }
                    if (a.price < b.price) {
                        return -1;
                    }

                    return 0;
                });
                if(val === "price_asc"){
                    this.products.reverse();
                }
            }
        },
        computed: {
            filtringProducts(){
                let arr = []
                return this.products.filter(item => {
                    arr = this.categories.filter(cat => cat.id == item.category_id);
                    return arr.length?arr[0].checked:false;
                })
            }
        }
    }
</script>

<style scoped lang="sass">
    h1
        padding: 30px 0
    .allProductsContainer
        display: flex
        flex-wrap: wrap
        .allProductsWrap
            width: 25%
            margin-bottom: 10px
            &:hover
                .allProductsWrapPrice
                    text-decoration: underline
            img
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .allProductsWrapSlide
                padding: 10px
                height: 230px
                display: flex
                img
                    align-self: center
                    max-height: 230px
            .productName
                padding: 0 10px
                font-weight: 400
                font-size: 17px
                color: #000
            .allProductsWrapPrice
                font-size: 20px
                font-weight: 600
    .filters
        display: flex
        flex-wrap: wrap
        .catFilterWrap
            width: calc(25% - 20px)
            display: flex
            font-size: 14px
            height: 20px
            margin: 10px
            border-radius: 2px
            color: #000
            background-color: #ffffff
            border: 1px solid $mainColor
            cursor: pointer
            &:hover
                @include crossBrowser(box-shadow, 0 0 8px 0 #408fce)
                cursor: pointer
            .catFilterLabel
                width: 100%
            .catFilter
                width: 30%
                height: 17px
                align-self: center
            input
                border-color: #fff !important
                opacity: 0
                position: absolute
                z-index: -1
            input+label
                display: inline-flex
                align-items: center
                user-select: none
            input+label::before
                cursor: pointer
                content: ''
                display: inline-block
                height: 14px
                width: 14px
                border-radius: 2px
                flex-shrink: 0
                flex-grow: 0
                background-color: $mainColor
                border: 1px solid #fff
                align-self: center
                margin: 0 4px 0 3px
                background-position: center center
                background-size: 70% 70%
                background-repeat: no-repeat
            input:checked+label::before
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
    button
        background-color: #fff
        color: #000
        cursor: pointer
        border: 1px solid $mainColor
        border-radius: 2px
        margin: 0 10px
        width: calc(25% - 20px)
        font-family: "Montserrat", sans-serif
        &:hover
            @include crossBrowser(box-shadow, 0 0 8px 0 #408fce)

</style>
