<template>
  <div class="container">
    <div class="productList">
      <h1>
        Наши работы
      </h1>
      <div class="allProductsContainer">
        <nuxt-link :to="`/work/${work.id}`" v-for="work in works" :key="work.id" class="allProductsWrap">
          <div class="allProductsWrapSlide">
            <img :src="'/'+work.before" alt="before" class="imgBefore">
            <img :src="'/'+work.after" alt="after" class="imgAfter">
          </div>
          <p class="workName">{{work.title}}</p>
          <div>
            <nuxt-link :to="`/${work.category_slug}/${work.gadget_slug}`" class="allProductsWrapDevice">
              {{work.device_name}}
            </nuxt-link>
          </div>
          <p class="allProductsWrapPrice">{{work.price}}</p>
          <p class="allProductsWrapTime"> {{work.time}}</p>

        </nuxt-link>

      </div>
    </div>
  </div>
</template>

<script>
    import axios from "axios";
    import work from '../components/work/work'
    import {Hooper, Slide, Pagination as HooperPagination, Navigation as HooperNavigation} from "hooper";

    export default {
        name: "works",

        data(){
            return{
                works: []
            }
        },
        components: {
            work
        },
        created(){
            axios.get('api/work').then(resp => {
                this.works = resp.data;
            })
        },
    }
</script>

<style scoped lang="sass">


  h1
    padding: 30px 0
  .allProductsContainer
    display: flex
    flex-wrap: wrap
    .allProductsWrap
      width: 25%
      margin-bottom: 10px
      &:hover
        a
          text-decoration: underline
        img
          @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
        .allProductsWrapSlide
          img
            height: 230px
            max-width: 100%
            @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
        .onSalePrice
          color: $mainColor
        .imgBefore
          opacity: 0
        .imgAfter
          opacity: 1
      .allProductsWrapSlide
        padding: 10px
        height: 230px
        display: flex
        justify-content: center
        align-items: center
        img
          height: 210px
          margin: 0 auto
          transition: all .5s
      .workName
        padding: 0 10px
        font-weight: 400
        font-size: 17px
        color: #000
      .allProductsWrapPrice
        font-size: 20px
        font-weight: 600
      .allProductsWrapTime
        color: #000
        font-size: 18px
        font-weight: 400
  .imgBefore, .imgAfter
    position: absolute
  .imgBefore
    opacity: 1
  .imgAfter
    opacity: 0

</style>
