<template>
    <div>
        <h3>Выберите неисправность</h3>
        <div class="chooseMalfunction">
            <nuxt-link :to="`/malfunction/${malfunction.service.id}`" class="malfunction" v-for="malfunction in malfunctions" :key="malfunction.id">
                <img :src="malfunction.module.icon" alt="">
                <p class="malfunctionName">{{malfunction.module.name}}</p>
                <p class="malfunctionDesc">{{malfunction.service.name}}</p>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {

        props: {
            id: {
                type: Number,
                required: false,
                default: () => 1
            }
        },

        data() {
            return {
                malfunctions: {}
            }
        },

        created() {
            axios.get(`/api/modules/${this.id}`).then(resp => {
                this.malfunctions = resp.data;
            })
        }
    }
</script>

<style scoped lang="sass">
  @media (min-width: 1440px)
      h3
          color: #000
          font-size: 25px
          margin: 5px auto
      .chooseMalfunction
          min-height: 382px
          display: flex
          flex-direction: row
          flex-wrap: wrap
          width: calc(80% + 20px)
          margin: 10px auto 0
          .malfunction
              cursor: pointer
              width: calc(33% - 17.7px)
              background: #f5f5f5
              padding: 15px
              margin: 10px
              @include crossBrowser(box-shadow, 0 0 12px 0 rgba(0,0,0,0.2))
              @include crossBrowser(transition, all .5s ease)
              @include crossBrowser(border-radius, 5px)
              &:hover
                  @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
              img
                  height: 70px
              .malfunctionName
                  color: $dark
                  font-size: 24px
              .malfunctionDesc
                  color: $dark
                  font-size: 15px
  @media (min-width: 1024px) and (max-width: 1439px)
      h3
          color: #000
          font-size: 25px
          margin: 5px auto
          font-weight: 400
      .chooseMalfunction
          min-height: 535px
          display: flex
          flex-direction: row
          flex-wrap: wrap
          width: calc(80% + 20px)
          margin: 10px auto 0
          .malfunction
              cursor: pointer
              width: calc(50% - 20px)
              background: #f5f5f5
              padding: 15px
              margin: 10px
              @include crossBrowser(box-shadow, 0 0 12px 0 rgba(0,0,0,0.2))
              @include crossBrowser(transition, all .5s ease)
              @include crossBrowser(border-radius, 5px)
              &:hover
                  @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
              img
                  height: 70px
              .malfunctionName
                  color: $dark
                  font-size: 24px
              .malfunctionDesc
                  color: $dark
                  font-size: 15px
  @media (min-width: 768px) and (max-width: 1023px)
      h3
          color: #000
          font-size: 25px
          margin: 5px auto
      .chooseMalfunction
          display: flex
          flex-direction: row
          flex-wrap: wrap
          width: calc(80% + 20px)
          margin: 10px auto 0
          .malfunction
              cursor: pointer
              width: calc(50% - 20px)
              background: #f5f5f5
              padding: 15px
              margin: 10px
              @include crossBrowser(box-shadow, 0 0 12px 0 rgba(0,0,0,0.2))
              @include crossBrowser(transition, all .5s ease)
              @include crossBrowser(border-radius, 5px)
              &:hover
                  @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
              img
                  height: 70px
              .malfunctionName
                  color: $dark
                  font-size: 24px
              .malfunctionDesc
                  color: $dark
                  font-size: 15px
  @media (min-width: 0px) and (max-width: 767px)
      h3
          color: #000
          font-size: 25px
          margin: 5px auto
      .chooseMalfunction
          display: flex
          flex-direction: row
          flex-wrap: wrap
          width: calc(80% + 20px)
          margin: 10px auto 0
          .malfunction
              cursor: pointer
              width: calc(50% - 20px)
              background: #f5f5f5
              padding: 15px
              margin: 10px
              @include crossBrowser(box-shadow, 0 0 12px 0 rgba(0,0,0,0.2))
              @include crossBrowser(transition, all .5s ease)
              @include crossBrowser(border-radius, 5px)
              &:hover
                  @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
              img
                  height: 70px
              .malfunctionName
                  color: $dark
                  font-size: 16px
              .malfunctionDesc
                  color: $dark
                  font-size: 14px
</style>
