<template>
  <div class="container">
    <h1>{{product.name}}</h1>
    <div style="padding: 0 30px;" v-html="product.description">
    </div>
    <div style="display: flex; padding: 30px 0">
      <p class="productPricePrefix">Цена: </p>
      <p class="productPriceSum">
          {{product.price}} грн
      </p>

    </div>
    <div class="imageProductWrapWrap">
      <div v-for="(image, index) in product.admin_image" :key="index" class="imageProductWrap">
        <img :src="image" class="productImage">
      </div>
    </div>
    <h2>Как приобрести?</h2>
    <div class="accordionULWrap">
      <ul class="accordionUL">
        <li class="accordionLI">
          <accordion>
            <template v-slot:header>
              Позвонив нам
            </template>
            <div v-if = "contacts.phone">
              <a v-for="phone of contacts.phone" :href="`tel:${phone.value}`" ><p style="padding: 10px 0;">{{phone.value}}</p></a>
            </div>
          </accordion>
        </li>
        <li class="accordionLI">
          <accordion>
            <template v-slot:header>
              Написав нам
            </template>
            <div v-if = "contacts.social">
              <a v-for="social of contacts.social" :class="`hover${social.name}`" :href="social.value" style="padding-left: 30px;" target="_blank"><font-awesome-icon size="3x" :icon="['fab', social.name]" /></a>
            </div>
          </accordion>
        </li>
        <li class="accordionLI">
          <accordion>
            <template v-slot:header>
              Приехать к нам
            </template>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d661.3899378165119!2d35.0522377!3d48.464976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe30a663cd045%3A0x3e83cda47d30d0e5!2zR3NtIFJvb20gLSDQoNC10LzQvtC90YIgaVBob25lLCBpUGFkLCBNYWNib29rLCBpTWFjINCU0L3QtdC_0YA!5e0!3m2!1sru!2sua!4v1592291336547!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>

            </div>
          </accordion>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
    import axios from "axios";
    import accordion from "@/components/accordin/accordion";

    export default {
        data(){
          return {
              product:{},
              contacts: []
          }
        },
        components: {accordion},
        mounted() {
            axios.get(`/api/product/${this.$route.params.slug}`).then(resp => {
                this.product = resp.data;
            })
        },
        created() {
            axios.get('/api/contacts').then(resp => {
                this.contacts = resp.data;
            });
        }
    }
</script>

<style scoped lang="sass">
  h1
    padding: 30px 0
  h2
    font-size: 30px
    text-align: left
    padding: 30px 0
    color: $mainColor
  .accordionULWrap
    width: 80%
  .imageProductWrapWrap
    width: 80%
    display: flex
  .imageProductWrap
    width: 50%
    padding: 15px
    margin: 0 auto
  .productImage
    width: 100%
  .productPricePrefix
    font-size: 30px
    font-weight: 300
  .productPriceSum
    font-size: 30px
    font-weight: 600
    color: $mainColor
    text-decoration: underline
  ul
    list-style-type: none
    padding: 0
    width: 80% !important
    li
      text-align: left
      color: $mainColor
      font-weight: 600
      font-size: 20px
      cursor: pointer
      a
        padding-top: 10px
        padding-bottom: 10px
        &:hover
          text-decoration: underline

</style>
