<template>
  <div class="container">
    <h1>
      {{work.title}}
      <span class="devName">
        <nuxt-link :to="`/${work.category_slug}/${work.gadget_slug}`">
          {{work.device_name}}
        </nuxt-link>
        </span>
    </h1>
    <div v-html="work.description" class="workDesc"></div>
    <p class="priceDescText">Стоимость работы: <span class="priceDesc">{{work.price}}</span></p>
    <p class="priceDescText">Срок выполнения: <span class="priceDesc">{{work.time}}</span></p>
    <div class="worksImagesWrap">
      <p class="worksImagesWrapText">Было</p>
      <p class="worksImagesWrapText">Стало</p>
      <img :src="'/'+work.before" alt="before">
      <img :src="'/'+work.after" alt="after">
    </div>
  </div>
</template>

<script>
    import axios from "axios";

    export default {
      data(){
          return {
              work: {}
          }
      },

      created() {
          axios.get('/api/work').then(resp => {
              this.work = resp.data.filter(item => item.id===+this.$route.params.id)[0];
          })
      }
    }
</script>

<style scoped lang="sass">

  .container
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    text-align: center
    width: 60%
  h1
    font-size: 40px
    font-weight: 300
    padding: 30px 0
    cursor: default
    text-align: center !important
    width: 80%
  .devName
    cursor: pointer
    a
      font-weight: 400
      &:hover
        text-decoration: underline
  .workDesc
    padding: 0 0
    text-align: left !important
    width: 80%
  .worksImagesWrap
    padding: 0
    display: flex
    flex-wrap: wrap
    cursor: default
    text-align: left !important
    width: calc( 80% + 30px)
    img
      width: 50%
      padding: 15px
    .worksImagesWrapText
      width: 50%
      text-align: center
      font-size: 30px
      color: $mainColor
  .priceDescText
    font-size: 30px
    cursor: default
    padding: 10px 0
    width: 80%
    text-align: left
    &:hover
      .priceDesc
        text-decoration: underline
    .priceDesc
      color: $mainColor

</style>
