<template>
    <modal name="demo-curier" transition="pop-out" :width="modalWidth" :height="400" :resizable = "true" :clickToClose = "true">
        <div class="box">
            <div class="box-part" id="bp-left">
                <div class="partition" id="partition-register">
                    <div class="partition-title">Вызвать курьера</div>
                    <div class="partition-form">
                        <form autocomplete="false">

                            <div class="autocomplete-fix">
                                <input type="password">
                            </div>

                            <input id="phone" type="text" placeholder="Телефон" v-model = "user.phone">
                            <input id="name" type="text" placeholder="Имя" v-model = "user.name">
                            <input id="device" type="text" placeholder="Название девайса" v-model = "user.device">
                            <input id="description" type="text" placeholder="Неисправность" v-model = "user.description">
                        </form>

                        <div style="margin-top: 42px">
                        </div>

                        <button class="large-btn send-btn" @click="send">Вызвать курьера</button>
                    </div>
                </div>
            </div>
            <div class="box-part" id="bp-right">
                <div class="box-messages">
                </div>
            </div>
        </div>
    </modal>
</template>
<script>
	import axios from "axios"
    const MODAL_WIDTH = 656
    export default {
        name: 'DemoLoginModal',
        data () {
            return {
                modalWidth: MODAL_WIDTH,
                user: {
                	phone: '',
                	name: '',
                	device: '',
                	description: ''
                }
            }
        },
        created () {
            this.modalWidth = window.innerWidth < MODAL_WIDTH
                ? MODAL_WIDTH / 2
                : MODAL_WIDTH
        },
        methods: {
        	send(){
        		axios.post('/api/order', {...this.user, is_courier: true}).then(resp => {
              this.$modal.hide('demo-curier')
        		})
        	}
        }
    }
</script>
<style lang="sass">
    $background_color: #404142
    $github_color: #DBA226
    $send_color: $mainColor
    .box
        background: white
        overflow: hidden
        width: 656px
        height: 400px
        border-radius: 2px
        box-sizing: border-box
        box-shadow: 0 0 40px $dark
        color: #8b8c8d
        font-size: 0
        .box-part
            display: inline-block
            position: relative
            vertical-align: top
            box-sizing: border-box
            height: 100%
            width: 50%
            &#bp-right
                background: url("../../../resources/images/panorama.jpg") no-repeat top left
                border-left: 1px solid #eee


        .box-messages
            position: absolute
            left: 0
            bottom: 0
            width: 100%

        .box-error-message
            position: relative
            overflow: hidden
            box-sizing: border-box
            height: 0
            line-height: 32px
            padding: 0 12px
            text-align: center
            width: 100%
            font-size: 11px
            color: white
            background: #F38181

        .partition
            width: 100%
            height: 100%
            .partition-title
                box-sizing: border-box
                padding: 30px
                width: 100%
                text-align: center
                letter-spacing: 1px
                font-size: 20px
                font-weight: 300

            .partition-form
                padding: 0 20px
                box-sizing: border-box


        input[type=password],
        input[type=text]
            display: block
            box-sizing: border-box
            margin-bottom: 4px
            width: 100%
            font-size: 12px
            line-height: 2
            border: 0
            border-bottom: 1px solid #DDDEDF
            padding: 4px 8px
            font-family: inherit
            transition: 0.5s all
            outline: none

        button
            background: white
            border-radius: 4px
            box-sizing: border-box
            padding: 10px
            letter-spacing: 1px
            font-family: "Open Sans", sans-serif
            font-weight: 400
            min-width: 140px
            margin-top: 8px
            color: #8b8c8d
            cursor: pointer
            border: 1px solid #DDDEDF
            text-transform: uppercase
            transition: 0.1s all
            font-size: 10px
            outline: none
            &:hover
                border-color: mix(#DDDEDF, $dark, 90%)
                color: mix(#8b8c8d, $dark, 80%)


        .large-btn
            width: 100%
            background: white
            span
                font-weight: 600

            &:hover
                color: white !important


        .button-set
            margin-bottom: 8px

        #register-btn,
        #signin-btn
            margin-left: 8px

        .send-btn
            border-color: $send_color
            color: $send_color
            &:hover
                border-color: $send_color
                background: $send_color


        .github-btn
            border-color: $github_color
            color: $github_color
            &:hover
                border-color: $github_color
                background: $github_color


        .autocomplete-fix
            position: absolute
            visibility: hidden
            overflow: hidden
            opacity: 0
            width: 0
            height: 0
            left: 0
            top: 0


    .pop-out-enter-active,
    .pop-out-leave-active
        transition: all 0.5s

    .pop-out-enter,
    .pop-out-leave-active
        opacity: 0
        transform: translateY(24px)


























    .vue-modal-resizer
        display: block
        overflow: hidden
        position: absolute
        width: 12px
        height: 12px
        right: 0
        bottom: 0
        z-index: 9999999
        background: transparent
        cursor: se-resize

    .vue-modal-resizer::after
        display: block
        position: absolute
        content: ''
        background: transparent
        left: 0
        top: 0
        width: 0
        height: 0
        border-bottom: 10px solid #ddd
        border-left: 10px solid transparent

    .vue-modal-resizer.clicked::after
        border-bottom: 10px solid #369be9

    .v--modal-block-scroll
        overflow: hidden
        width: 100vw

    .v--modal-overlay
        position: fixed
        box-sizing: border-box
        left: 0
        top: 0
        width: 100%
        height: 100vh
        background: rgba(0, 0, 0, 0.2)
        z-index: 999
        opacity: 1

    .v--modal-overlay.scrollable
        height: 100%
        min-height: 100vh
        overflow-y: auto
        -webkit-overflow-scrolling: touch

    .v--modal-overlay .v--modal-background-click
        width: 100%
        min-height: 100%
        height: auto

    .v--modal-overlay .v--modal-box
        position: relative
        overflow: hidden
        box-sizing: border-box

    .v--modal-overlay.scrollable .v--modal-box
        margin-bottom: 2px

    .v--modal
        background-color: white
        text-align: left
        border-radius: 3px
        box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4)
        padding: 0

    .v--modal.v--modal-fullscreen
        width: 100vw
        height: 100vh
        margin: 0
        left: 0
        top: 0

    .v--modal-top-right
        display: block
        position: absolute
        right: 0
        top: 0

    .overlay-fade-enter-active,
    .overlay-fade-leave-active
        transition: all 0.2s

    .overlay-fade-enter,
    .overlay-fade-leave-active
        opacity: 0

    .nice-modal-fade-enter-active,
    .nice-modal-fade-leave-active
        transition: all 0.4s

    .nice-modal-fade-enter,
    .nice-modal-fade-leave-active
        opacity: 0
        transform: translateY(-20px)

    .vue-dialog div
        box-sizing: border-box

    .vue-dialog .dialog-flex
        width: 100%
        height: 100%

    .vue-dialog .dialog-content
        flex: 1 0 auto
        width: 100%
        padding: 15px
        font-size: 14px

    .vue-dialog .dialog-c-title
        font-weight: 600
        padding-bottom: 15px


    .vue-dialog .vue-dialog-buttons
        display: flex
        flex: 0 1 auto
        width: 100%
        border-top: 1px solid #eee

    .vue-dialog .vue-dialog-buttons-none
        width: 100%
        padding-bottom: 15px

    .vue-dialog-button
        font-size: 12px !important
        background: transparent
        padding: 0
        margin: 0
        border: 0
        cursor: pointer
        box-sizing: border-box
        line-height: 40px
        height: 40px
        color: inherit
        font: inherit
        outline: none

    .vue-dialog-button:hover
        background: rgba(0, 0, 0, 0.01)

    .vue-dialog-button:active
        background: rgba(0, 0, 0, 0.025)

    .vue-dialog-button:not(:first-of-type)
        border-left: 1px solid #eee



</style>
