<template>
  <div class="wrap">
    <div class="content">
      <contact-sidebar :categories="cat"/>
      <nuxt/>
      <devices @cat="setCat"/>
    </div>
    <page-footer/>
  </div>
</template>

<script>
  import ContactSidebar from "../components/ContactSidebar/ContactSidebar";
  import Devices from "../components/Devices/Devices";
  import PageFooter from "../components/footer/footer";
  export default {
      data(){
          return {
              cat: []
          }
      },
    components: {
      Devices, ContactSidebar, PageFooter
    },

      methods: {
          setCat(cat){
              this.cat=cat
          }
      }
  }
</script>
