@keyframes mainImgAnimation
  from
    padding-top: 0
    width: calc(80% - 100px)
  to
    padding-top: 50px
    width: 80%

@keyframes menu
  from
    width: 0
  to
    width: 100%

@keyframes mainBtn
  from
    width: 0
  to
    width: 150px
