@import "mixins.sass"
@import "varnings.sass"
@import "animations.sass"
@import "fonts.sass"
@import "main.sass"

.i4ewOd-pzNkMb-haAclf
  display: none

.getBold
  font-weight: 900 !important
.getSemiBold
  font-weight: 700 !important
.getUnderBold
  font-weight: 500 !important
.getRed
  color: #FF3528 !important
.getBlue
  color: $mainColor !important

.mobileMainText
  width: 80% !important
  margin: 20px 0
  font-weight: unset

.container
  min-height: 80vh
  display: flex
  flex-direction: column
  justify-content: start
  align-items: center
  text-align: center
  width: 60%
h1
  font-size: 40px
  font-weight: 400
.sizeCont
  width: 80%

.siteDesc
  display: flex
  flex-direction: column
  width: 80%
  margin: 0 auto
  background-color: #f9f9f9
  padding: 20px
  font-weight: 100
  p
    width: 100%
    padding-top: 10px
    text-align: justify
    font-weight: 400
    font-size: 23px
  img
    height: 100%
    align-self: center

.siteDescContent
  display: flex
  justify-content: flex-end
  img
    width: 40%

.modelContainer
  width: 50%
  margin: 10px 0
  cursor: pointer
  padding: 10px 0 5px
  &:hover
    a
      text-decoration: underline

.modelText
  width: 40%
  height: 100%
  display: flex
  align-items: center
  text-align: left
.siteDescTextWrap
  padding-right: 10px
.siteDesc
  min-height: 300px

.modelImg
  width: 60%
  height: 100%
  display: flex
  align-items: center
  img
    max-height: 170px
    max-width: 100%
    margin: 0 auto
.modelImageSize
  //width: 50%
.modelContainer:nth-child(odd) .modelImg, .modelContainer:nth-child(even) .modelText
  float: right

.modelContainer:nth-child(even) .modelImg, .modelContainer:nth-child(odd) .modelText
  float: right

.modelDescr
  text-align: left
  font-size: 14px
  margin: 10px
  p
    margin: 10px

.modelTitle
  width: 100%
  a
    font-size: 25px
    font-weight: 600
.dividerModel
  height: 3px
  width: 100%
  background-color: #f5f5f5
  margin-top: 5px
  float: left
.deviceList
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 80%
  margin: 0 20%


.productList
  width: 80%



.tServiceName
  width: 60%
.tServicePrice
  width: 20%
.tServiceGuarantee
  width: 20%
.tServiceNameColor, .tServicePriceColor, .tServiceGuaranteeColor
  background-color: #e6e6e6 !important
  color: #000 !important
  font-weight: 600
  &:hover
    background-color: #e6e6e6 !important
    color: #000 !important
    border-color: #ddd !important



.descMan
  width: 100%
  text-align: justify
  padding: 30px 0

.accordionHeader
  font-size: 30px
  text-align: left
  padding: 30px 0
  color: $mainColor
  width: 100%

.accordionUL
  list-style-type: none
  width: 100% !important
  padding: 0 !important
  .accordionLI
    text-align: left
    color: #000
    font-weight: 600
    font-size: 20px
    cursor: pointer
    a
      padding-top: 10px
      padding-bottom: 10px
      &:hover
        text-decoration: underline
.address
  p
    font-size: 15px !important
.footerWrap
  background-color: #f5f5f5
  .footerDivider
    background-color: #000
    height: 3px
  .footer
    display: flex
    margin: 0 auto
    min-height: 400px
    padding-top: 50px
    .footerMapWrap
      width: 25%
      text-align: center
      .footerMap
        background-color: #fff
        height: 200px
      p
        cursor: default
        font-size: 20px
        font-weight: 600
        margin-top: 15px
    .footerLinks
      padding-left: 100px
      width: 25%
      p
        a
          color: #000
          font-size: 24px
          line-height: 30px
          &:hover
            color: $mainColor



    .footerContacts
      padding-left: 100px
      width: 25%
      display: flex
      flex-direction: column
      p
        cursor: default
        color: #000
        font-size: 24px
        line-height: 30px
      a
        font-size: 24px
        line-height: 30px
      svg
        width: 40px
        margin: 0 10px 0 0


    .footerSchedule
      padding-left: 100px
      width: 25%
      cursor: default
      p
        color: #000
        font-size: 24px
        line-height: 30px
        &:hover
          color: $mainColor






.advBlockLeft
  display: flex
  flex-direction: row-reverse
.advBlock
  display: flex
  margin: 30px auto 0

.advTextBlock
  width: 50%
  display: flex
  flex-direction: column
  align-self: center
  margin: 10px 30px
  .advName
    text-align: left
    font-size: 25px
    color: $mainColor
    text-decoration: underline

  .advantagesInfo
    text-align: justify
    color: #000000
    font-size: 20px
    line-height: 22px
.advPhoto
  width: calc(50% - 60px)
  margin: 10px 30px
  //background-color: #efefef
  img
    width: 100%
    border-radius: 20px
.advDivider
  height: 1px
  width: 100%
  background-color: #efefef
  margin: 10px 0


.footerDay
  display: inline-block
@media (min-width: 1440px)
  .footerDay
    width: 40px
  .content
    width: 1440px
  .footer
    min-width: 1440px
  .descMan
    font-size: 25px
    line-height: 25px
    padding: 30px 0
@media (min-width: 1024px) and (max-width: 1439px)
  .descMan
    font-size: 24px
    line-height: 22px
    padding: 30px 0
  .footerDay
    width: 40px
  .i4ewOd-pzNkMb-haAclf
    display: none !important
  .content
    width: 1024px
  .footer
    min-width: 1024px
    .footerSchedule, .footerLinks, .footerContacts
      padding-left: 20px !important
  .siteDesc
    p
      font-size: 15px !important
  .descBlock
    font-size: 18px
    line-height: 15px
    p
      font-size: 12px
      line-height: 18px

  .modelTitle
    a
      font-size: 18px
  .tServiceName
    width: 60%
  .tServicePrice
    width: 20%
    p
      line-height: 15px
  .tServiceGuarantee
    width: 20%
  .advName
    font-size: 21px !important
    line-height: 32px !important
  .advantagesInfo
    font-size: 16px !important
    line-height: 21px !important

  .tServiceNameColor, .tServicePriceColor, .tServiceGuaranteeColor
    font-size: 18px
  .pricesBlock
    line-height: 18px
    th
      font-weight: 600 !important
      font-size: 14px !important


  .filters .catFilterWrap
    width: calc(33% - 20px) !important


  .allProductsContainer
    .allProductsWrap
      width: 33% !important

  .allProductsContainer
    .allProductsWrap
      .allProductsWrapSlide
        img
          height: 200px !important

  .allProductsContainer
    .allProductsWrap:hover
      .allProductsWrapSlide
        img
          height: 210px !important

  .tServiceName, .tServicePrice, .tServiceGuarantee
    font-size: 12px

@media (min-width: 768px) and (max-width: 1023px)
  .footerDay
    width: 35px
  .content
    width: 100%
  .footer
    min-width: 768px
    margin-bottom: 150px !important
    .footerSchedule, .footerLinks, .footerContacts
      padding-left: 10px !important
      p, a
        font-size: 20px !important
  .container
    width: 100% !important


  .tServiceName
    width: 50%
  .tServicePrice
    width: 30%
    p
      line-height: 15px
  .tServiceGuarantee
    width: 20%

  .filters .catFilterWrap
    width: calc(33% - 20px) !important


  .allProductsContainer
    .allProductsWrap
      width: 33% !important

  .allProductsContainer
    .allProductsWrap
      .allProductsWrapSlide
        img
          height: 200px !important

  .allProductsContainer
    .allProductsWrap:hover
      .allProductsWrapSlide
        img
          height: 210px !important
  .tServiceName, .tServicePrice, .tServiceGuarantee
    font-size: 12px
  .infoBlock
    display: flex
    position: relative
    .imgBlock
      width: 100% !important
      margin-bottom: 15px !important
      img
        opacity: 0.1 !important

    .descBlock
      position: absolute
      width: 100%
      display: flex
      align-self: center
      margin: 0 !important
      font-size: 15px !important
      line-height: 20px !important
      padding: 0 10px !important



@media (min-width: 0px) and (max-width: 767px)
  .hooper-prev
    left: -37px !important
  .hooper-next
    right: -37px !important
  .footerDay
    width: 30px
  .content
    width: 100%
  .footer
    min-width: 0
    flex-wrap: wrap
    margin-bottom: 170px !important
    .footerSchedule, .footerLinks, .footerContacts
      padding-left: 10px !important
      p, a
        font-size: 20px !important
    .footerSchedule, .footerLinks, .footerContacts
      width: 50% !important
    .footerLinks
      display: none !important
    .footerMapWrap
      width: 100% !important
      height: 300px !important
      margin-bottom: 70px !important
      .footerMap
        height: 300px !important
  .container
    width: 100% !important


  .filters .catFilterWrap
    width: calc(50% - 20px) !important


  .allProductsContainer
    .allProductsWrap
      width: 50% !important

  .allProductsContainer
    .allProductsWrap
      .allProductsWrapSlide
        img
          height: 200px !important

  .allProductsContainer
    .allProductsWrap:hover
      .allProductsWrapSlide
        img
          height: 210px !important

  .productList
    button
      width: calc(50% - 20px) !important

  .siteDesc
    min-height: unset
    h1
      font-size: 30px
    .siteDescTextWrap
      display: none
    img
      width: 100%
  .deviceList
    .modelContainer
      width: 100%
  .infoBlock
    display: flex
    position: relative
    .imgBlock
      width: 100% !important
      margin-bottom: 15px !important
      img
        opacity: 0.1 !important

    .descBlock
      position: absolute
      width: 100%
      display: flex
      align-self: center
      margin: 0 !important
      font-size: 15px !important
      line-height: 20px !important
      padding: 0 10px !important
  .tServiceName
    width: 45% !important
  .tServicePrice
    width: 30% !important
    p
      line-height: 15px
  .tServiceGuarantee
    width: 25% !important
  .tServiceName, .tServicePrice, .tServiceGuarantee
    font-size: 12px
    line-height: 15px
  .serviceBlock
    table
      th
        font-size: 16px


  .modelContainer
    .modelText
      text-align: center
  .worksImagesWrap
    img
      max-height: 225px !important
  .mainImages
    display: none
  .mainText
    margin-top: 20px
