.page-enter-active, .page-leave-active
  transition: opacity .5s


.page-enter, .page-leave-active
  opacity: 0


html
  font-family: "Montserrat",  sans-serif
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

*, *:before, *:after
  box-sizing: border-box
  margin: 0

.content
  margin: 0 auto
  display: flex
  flex-direction: row

.button--green
  display: inline-block
  @include crossBrowser(border-radius, 4px)
  border: 1px solid #3b8070
  color: #3b8070
  text-decoration: none
  padding: 10px 30px

.button--green:hover
  color: #fff
  background-color: #3b8070

.button--grey
  display: inline-block
  @include crossBrowser(border-radius, 4px)
  border: 1px solid #35495e
  color: #35495e
  text-decoration: none
  padding: 10px 30px
  margin-left: 15px

.button--grey:hover
  color: #fff
  background-color: #35495e

.modelDescr p
    margin: 10px

a
  text-decoration: none
  color: $mainColor
