<template>
    <div class="onSaleSliderSlide" ref="slide">
      <nuxt-link :to="`/work/${work.id}`">
        <div class="onSaleSliderSlideImageWrap">
            <img :src="work.before" alt="" style="max-width: 100%; max-height: 100%" class="imgBefore">
            <img :src="work.after" alt="" style="max-width: 100%; max-height: 100%" class="imgAfter">
          </div>

          <p class="onSaleModel">{{work.title}}</p>
          <nuxt-link :to="`/${work.category_slug}/${work.gadget_slug}`">
            {{work.device_name}}
          </nuxt-link>
        <p class="onSalePrice">{{work.price}}</p>
      </nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "work",

        props: {
            work: {
                type: Object,
                required: true
            }
        },

        data(){
            return {
                height: 0
            }
        },

        methods: {
            mouseenter(e){
                e.preventDefault();
                let thumb = this.$refs.thumb;
                let slider = this.$refs.slide;
                let shiftY = e.clientY - thumb.getBoundingClientRect().top;

                document.addEventListener('mousemove', onMouseMove);
                document.addEventListener('mouseup', onMouseUp);

                function onMouseMove(event) {
                    let newTop = event.clientY - shiftY - slider.getBoundingClientRect().top;

                    if (newTop < 0) {
                        newTop = 0;
                    }
                    let leftEdge = slider.offsetHeight - thumb.offsetHeight;
                    if (newTop > leftEdge) {
                        newTop = leftEdge;
                    }

                    thumb.style.top = newTop + 'px';
                    this.height = newTop;
                }

                function onMouseUp() {
                    document.removeEventListener('mouseup', onMouseUp);
                    document.removeEventListener('mousemove', onMouseMove);
                }
            }
        }
    }
</script>

<style scoped lang="sass">
  @media (min-width: 1440px)
    .topMover
      position: absolute
      top: 0
      width: 100%
      height: 2px
      background: #000
      cursor: row-resize
    .onSale
      margin-bottom: 60px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          a
            a
              &:hover
                text-decoration: underline
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 240px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
            .imgBefore
              opacity: 0
            .imgAfter
              opacity: 1
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 265px
            display: flex
            justify-content: center
            align-items: center
            img
              height: 230px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .imgBefore, .imgAfter
      position: absolute
    .imgBefore
      opacity: 1
    .imgAfter
      opacity: 0
  @media (min-width: 1024px) and (max-width: 1439px)
    .topMover
      position: absolute
      top: 0
      width: 100%
      height: 2px
      background: #000
      cursor: row-resize
    .onSale
      margin-bottom: 60px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          a
            a
              &:hover
                text-decoration: underline
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 190px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
            .imgBefore
              opacity: 0
            .imgAfter
              opacity: 1
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 235px
            display: flex
            justify-content: center
            align-items: center
            img
              height: 180px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .imgBefore, .imgAfter
      position: absolute
    .imgBefore
      opacity: 1
    .imgAfter
      opacity: 0
  @media (min-width: 768px) and (max-width: 1023px)
    .topMover
      position: absolute
      top: 0
      width: 100%
      height: 2px
      background: #000
      cursor: row-resize
    .onSale
      margin-bottom: 60px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          a
            a
              &:hover
                text-decoration: underline
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 190px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
            .imgBefore
              opacity: 0
            .imgAfter
              opacity: 1
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 235px
            display: flex
            justify-content: center
            align-items: center
            img
              height: 180px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .imgBefore, .imgAfter
      position: absolute
    .imgBefore
      opacity: 1
    .imgAfter
      opacity: 0

  @media (min-width: 0px) and (max-width: 767px)
    .topMover
      position: absolute
      top: 0
      width: 100%
      height: 2px
      background: #000
      cursor: row-resize
    .onSale
      margin-bottom: 60px
      width: 80%
      .onSaleSlider
        outline: none !important
        display: flex
        .hooper
          outline: none!important
          height: 100%
          .hooper-pagination
            outline: none !important
            bottom: -20px
        .onSaleSliderSlide
          outline: none !important
          cursor: pointer
          display: flex
          flex-direction: column
          width: 100%
          margin: 0 auto
          a
            a
              &:hover
                text-decoration: underline
          &:hover
            .onSaleSliderSlideImageWrap
              img
                height: 190px
                max-width: 100%
                @include crossBrowser(box-shadow, 0 0 12px 0 #408fce)
            .onSalePrice
              color: $mainColor
            .imgBefore
              opacity: 0
            .imgAfter
              opacity: 1
          .onSaleSliderSlideImageWrap
            padding-top: 25px
            height: 235px
            display: flex
            justify-content: center
            align-items: center
            img
              height: 180px
              margin: 0 auto
              transition: all .5s
          .onSaleModel
            font-size: 20px
            font-weight: 300
            line-height: 25px
            min-height: 50px
            padding: 10px 20px
            color: #000000
          .onSalePrice
            font-size: 20px
            font-weight: 600
            transition: all .5s
            color: #000000
    .imgBefore, .imgAfter
      position: absolute
    .imgBefore
      opacity: 1
    .imgAfter
      opacity: 0
</style>
