<template>
    <div class="devicesWrap rightSide">
        <ul v-if="list.length">
            <li v-for="item of list" :key="item.id" class="rightSideDevice">
                <nuxt-link :to="`/${item.slug}`">
                    <div class="rightSideDeviceImageWrap">
                        <img :src="item.icon_src" alt="" class="rightSideDeviceImage">
                    </div>
                    <p class="rightSideDeviceName">
                        {{item.name}}
                    </p>
                </nuxt-link>
            </li>
            <li class="rightSideDevice">
                <nuxt-link to="/other">
                    <div class="rightSideDeviceImageWrap">
                        <img src="../../../public/parseImage/gadgets/icons/iphone-7.png" alt="" class="rightSideDeviceImage">
                    </div>
                    <p class="rightSideDeviceName">
                        Другие бренды
                    </p>
                </nuxt-link>
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Devices",
        data() {
            return {
                list: []
            }
        },

        created() {
            axios.get('/api/categories').then(resp => {
                this.$emit('cat', resp.data)
                this.list = resp.data.categories
            })
        }
    }
</script>
<style scoped lang="sass">
.devicesWrap
  ul
    list-style: none
@media (min-width: 1440px)
    .devicesWrap
      width: 20%
      ul
        display: block
        padding:  0
        list-style: none
        margin: 0 auto
        li
          margin: 10px auto 0
          max-height: 115px
          a
            text-decoration: none
            color: $dark
          &:nth-child(1)
            img
              height: 50px
            &:hover
              img
                height: 60px
          &:nth-child(2)
            img
              height: 60px
            &:hover
              img
                height: 70px
          &:nth-child(3)
            img
              height: 100px
            &:hover
              img
                height: 110px
          &:nth-child(4)
            img
              height: 45px
            &:hover
              img
                height: 55px
          &:nth-child(5)
            img
              height: 100px
            &:hover
              img
                height: 110px
          &:nth-child(6)
            img
              height: 35px
            &:hover
              img
                height: 45px
          &:nth-child(7)
            img
              height: 50px
            &:hover
              img
                height: 60px
      .rightSideDeviceImageWrap
        min-height: 70px
        max-height: 110px
        display: flex
        align-items: center
        .rightSideDeviceImage
          display: block
          margin: 0 auto
          @include crossBrowser(transition, all .5s ease)

      .rightSideDeviceName
        text-align: center
        font-size: 15px
        font-weight: 600
        word-break: keep-all
        white-space: nowrap

@media (min-width: 1024px) and (max-width: 1439px)
    .devicesWrap
      width: 20%
      ul
        display: block
        padding:  0
        list-style: none
        margin: 0 auto
        li
          margin: 10px auto 0
          max-height: 110px
          //@include crossBrowser(animation, menu 1s ease-in-out)
          a
            text-decoration: none
            color: $dark
          &:nth-child(1)
            img
              height: 45px
            &:hover
              img
                height: 55px
          &:nth-child(2)
            img
              height: 55px
            &:hover
              img
                height: 65px
          &:nth-child(3)
            img
              height: 85px
            &:hover
              img
                height: 95px
          &:nth-child(4)
            img
              height: 40px
            &:hover
              img
                height: 50px
          &:nth-child(5)
            img
              height: 85px
            &:hover
              img
                height: 95px
          &:nth-child(6)
            img
              height: 30px
            &:hover
              img
                height: 40px
          &:nth-child(7)
            img
              height: 45px
            &:hover
              img
                height: 55px
      .rightSideDeviceImageWrap
        min-height: 70px
        max-height: 110px
        display: flex
        align-items: center
        .rightSideDeviceImage
          display: block
          margin: 0 auto
          @include crossBrowser(transition, all .5s ease)

      .rightSideDeviceName
        text-align: center
        font-size: 15px
        font-weight: 600
        word-break: keep-all
        white-space: nowrap

@media (min-width: 768px) and (max-width: 1023px)
  .devicesWrap
    position: fixed
    bottom: -5px
    width: 101%
    overflow-y: scroll
    height: 225px
    ul
      display: flex
      width: 1050px
      background: #fff
      height: 220px
      padding: 10px 0
      .rightSideDevice
        height: 150px
        width: 150px
        .rightSideDeviceImageWrap
          height: 150px
          display: flex
          img
            width: 100%
            align-self: center
            max-height: 100%
        .rightSideDeviceName
          font-size: 22px
          text-align: center
          color: #000

@media screen and (max-width: 767px)
  .devicesWrap
    position: fixed
    bottom: -2px
    width: 100%
    overflow-y: scroll
    height: 172px
    ul
      display: flex
      width: 850px
      background: #fff
      height: 172px
      padding: 10px 0
      .rightSideDevice
        height: 120px
        width: 120px
        .rightSideDeviceImageWrap
          height: 120px
          display: flex
          img
            width: 100%
            align-self: center
            max-height: 100%
        .rightSideDeviceName
          font-size: 16px
          text-align: center
          color: #000
</style>
